<?xml version="1.0" ?>
<model>
    <name>rmuc_2026fix</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Auto Generated</name>
        <email>noreply@example.com</email>
    </author>
    <description>RMUC 2026 fix world model imported from STL. Source STL unit is decimeter, scaled to meter in model.sdf.</description>
</model>
