<library path="referee_sim">
  <class
    name="referee_sim/RefereeSimPlugin"
    type="referee_sim.referee_sim_plugin.RefereeSimPlugin"
    base_class_type="rqt_gui_py::Plugin">
    <description>Referee data simulator with sliders, numeric inputs and game start button.</description>
    <qtgui>
      <group>
        <label>Referee</label>
        <icon type="theme">applications-system</icon>
        <statustip>Plugins related to referee simulation.</statustip>
      </group>
      <label>Referee Simulator</label>
      <icon type="theme">applications-system</icon>
      <statustip>Simulate referee topics in ROS2</statustip>
    </qtgui>
  </class>
</library>
